@page "/add"
@rendermode InteractiveServer 
@using System.Text.Json 
@using System.Threading.Tasks
@using System.Security.Cryptography

@* InteractiveServer is to make buttons work, @onclick works, @bind updates values, and C# methods run when the user interacts. *@

<PageTitle>Add</PageTitle>

<h1>Add JSON</h1> 

<h2>Input</h2>

<p>@errorMessage</p>

<p>This small cleaner app analyzes your JSON data and lets you either fill in missing keys or remove empty ones.</p>


    <label for="user-input">Paste your </label>
    <textarea @bind="jsonInput" name="user-input" id="user-input" cols="80" rows="10"></textarea> <br /><br />
    @* or style with stlye:  <textarea name="user-input" id="user-input" style="width:200px; height:600px;">" *@

    <label for="object-keys">Select whether to remove or add empty keys in objects:</label>
    <select @bind="actionChoice" name="object-keys" id="object-keys">
        <option value="@KeyActionOption.RemoveEmptyKeys">Remove empty keys</option>
        <option value="@KeyActionOption.FillMissingKeys">Fill in missing keys</option>
    </select><br /><br />
<button class="btn btn-secondary"  @onclick="FetchInput">Upload</button>


<h2>Debugging</h2>
<p>Debug jsonInput: @jsonInput @actionChoice</p><br /><br /> 
<hr>

<h2>Output</h2>
<hr> <br /> <br />
<pre>@serializedJson</pre> <br />  <br /> 
<hr>


@code {
    private string jsonInput = ""; 
    private KeyActionOption actionChoice = KeyActionOption.RemoveEmptyKeys; 
    private string errorMessage { get; set; }  = ""; 
    private JsonElement deserializedJson { get; set; } 
    private JsonElement result { get; set; } 
    private string serializedJson { get; set; }  = ""; 

    private enum KeyActionOption 
    {
        RemoveEmptyKeys,
        FillMissingKeys
    }

    private async Task FetchInput(){
        // fetch the string provided by the user, sanitiy check it and deserialize 
        @* Console.WriteLine("@bind: " + jsonInput + actionChoice); 
        Console.WriteLine();  *@
        // sanity check: only use valid json. 

        // deserialization and exceptions
        try {
            deserializedJson = System.Text.Json.JsonSerializer.Deserialize<JsonElement>(jsonInput); 
            @* Console.WriteLine("josn: " + deserializedJson); *@
            errorMessage = "";
        } catch (JsonException) {
            Console.WriteLine("Invalid JSON syntax. Please check your input.");
            errorMessage = "Invalid JSON syntax. Please check your input.";
            return; 
        }

        // process it depending on user input: 
        result = ProcessJson(deserializedJson); 
        await Task.Delay(millisecondsDelay: 1000);
        // serialize and output 
        ProvideJsonOutput(result); 
        
    } 

    private JsonElement ProcessJson(JsonElement json){
        if (actionChoice == KeyActionOption.RemoveEmptyKeys) {
            json = RemoveEmptyKeys(json);  
        }

        return json; 
    } 

    private JsonElement RemoveEmptyKeys(JsonElement json) {
        @* takes a JsonElement and creates a new element without null values. 
        returns a new JsonElement with the newly assembled data. *@
        Dictionary<string, object> data = new Dictionary<string, object>(); 
        if (json.ValueKind == JsonValueKind.Object) {
        // access keys: EnumerateObject and JsonProperty 
        // Memo short: 
        // EnumerateObject() = iterate through all pairs inside the object
        // JsonProperty = one key/value pair inside an object
        // JsonElement = some JSON thing
            foreach (JsonProperty property in json.EnumerateObject()){
                Console.WriteLine(property.Name); 
                // copy the values if they are not null
                if (!hasNull(property)){
                    data[property.Name] = property.Value; 
                }
            }
            Console.WriteLine("data = " + JsonSerializer.Serialize(data)); 
        }
        if (json.ValueKind == JsonValueKind.Array) {
        // do something with EnumerateArray() 
        }
        // primitive values 
        // do something with primitive types like: 
        if (json.ValueKind == JsonValueKind.String) {
        // do something
        }
        if (json.ValueKind == JsonValueKind.Null) {
        // do something
        }
        
        return json; 
    } 

    private bool hasNull(JsonProperty property) {
        if (property.Value.ValueKind == JsonValueKind.Null) {
            Console.WriteLine("Null detected");
            return true; 
        } else return false; 
    }

    private void ProvideJsonOutput(JsonElement result) {
        // serialization  data → text 
        // JsonSerializer.Serialize(...) 
        // without indentation in the console
        Console.WriteLine(System.Text.Json.JsonSerializer.Serialize(result)); 
        // prettier output with Option WriteIndented = true 
        serializedJson = JsonSerializer.Serialize(
            result, new JsonSerializerOptions
            { 
                WriteIndented = true 
            });
    }
}

