@page "/add-json"
@rendermode InteractiveServer 
@using System.Text.Json 
@using System.Threading.Tasks
@using System.Security.Cryptography 
@using System.Text.Json.Nodes
@using System.Text.Json.Serialization
@using Microsoft.AspNetCore.Http.HttpResults
@using Microsoft.AspNetCore.Razor.TagHelpers
@using System.Runtime.InteropServices.ObjectiveC
@using CleanJsonApp.Models
@inject IJSRuntime JS 

@* InteractiveServer is to make buttons work, @onclick works, @bind updates values, and C# methods run when the user interacts. *@

<PageTitle>Add</PageTitle>

<h1>Add JSON</h1> 
<section class="input-section">
    <h2>Input</h2>

    <p>@errorMessage</p>

    <p>This small cleaner app analyzes your JSON data and lets you either fill in missing keys or remove empty ones.</p> 
    <p>Fill missing keys works in arrays of objects in this version of the app.</p>


        <label for="user-input">Paste your JSON</label> <br />
        <textarea @bind="jsonInput" name="user-input" id="user-input" rows="8"></textarea> <br /><br />

        <div class="controls">
            <label for="object-keys">Select whether to remove or add empty keys in objects:</label>
            <select @bind="actionChoice" name="object-keys" id="object-keys">
                <option value="@KeyActionOption.RemoveEmptyKeys">Remove empty keys</option>
                <option value="@KeyActionOption.FillMissingKeys">Fill in missing keys</option>
            </select><br /><br />
        <button class="btn btn-secondary"  @onclick="FetchInput">Upload</button>
    </div>
</section>
@* 
<h2>Debugging</h2>
<p>Debug jsonInput: @jsonInput @actionChoice</p><br /><br /> 
<hr> *@

<section class="output-section">
    <h2>Output</h2>
    <p>Changes made: @changesMade</p> 
    <hr> 
    <pre>@serializedJson</pre>  
    <hr>
</section>

@code {
    private string jsonInput = ""; 
    private KeyActionOption actionChoice = KeyActionOption.RemoveEmptyKeys; 
    private int changesMade { get; set; } = 0; 
    private string errorMessage { get; set; }  = ""; 
    private JsonNode? parsedJson { get; set; } = new JsonObject();   
    private JsonNode? result { get; set; } = new JsonObject(); 
    private string serializedJson { get; set; }  = ""; 
    private List <SavedJson>? savedJsons; 

    private enum KeyActionOption 
    {
        RemoveEmptyKeys,
        FillMissingKeys
    }

    // fetch the string provided by the user, sanitiy check it and deserialize 
    private async Task FetchInput(){
        changesMade = 0; // reset counter for each turn 
        // sanity check: only use valid json. 
        // deserialization and exceptions
        try {
            if (jsonInput == "") return; 
            parsedJson = JsonNode.Parse(jsonInput); 
            @* Console.WriteLine("josn: " + deserializedJson); *@
            errorMessage = "";
        } catch (JsonException) {
            Console.WriteLine("Invalid JSON syntax. Please check your input.");
            errorMessage = "Invalid JSON syntax. Please check your input.";
            return; 
        }
        // process it depending on user input: 
        result = parsedJson != null ? ProcessJson(parsedJson) : new JsonObject(); 
        @* await Task.Delay(millisecondsDelay: 500); *@
        // serialize and output 
        await ProvideJsonOutput(result); 
    } 

    private JsonNode? ProcessJson(JsonNode? json){
        if (json == null) return new JsonObject(); 
        if (actionChoice == KeyActionOption.RemoveEmptyKeys) { 
            json = RemoveEmptyKeys(json);  
        } 
        if (actionChoice == KeyActionOption.FillMissingKeys) {
            json = FillMissingKeys(json!); // ! = null-forgiving operator 
        }

        return json; 
    } 

    
    @* takes a JsonElement and creates a new element without null values. 
    returns a new JsonElement with the newly assembled data. *@
    // C# example: if (json is JsonArray jsonArray)
    // = pattern matching with type checking and variable declaration
    //Check the type of node (is it a JsonArray?).
    //Declare a new variable (jsonArray) of that type, casted from json.
    @* 
    examins objects, arrays and primitive values 
    
    Parent calls recursion on child, child returns value or null: 
    Now the parent decides:
    child returned data → keep it
    child returned null → omit it 
    ...
    traversing old structure
    building a new cleaned structure
    selectively copying survivors *@
    private JsonNode? RemoveEmptyKeys(JsonNode? json) {
        // examin objects, arrays and primitive values
        if (json == null) {
            return null; // don't continue if it's null 
            // this does not count for recursion (no ommitted line)
        } 
        // objects 
        if (json is JsonObject jsonObject) {
            JsonObject newObject = new JsonObject();
            foreach (var item in jsonObject){
                //Console.WriteLine(item.Key); 
                // copy the values if they are not null
                // Parente: I chose not to copy this property.
                JsonNode? result = RemoveEmptyKeys(item.Value); 
                if  (result != null) {  // recursion : did the value return null? 
                    newObject[item.Key] = result;
                } else {
                    // when no copy is made, changesMade++ 
                    changesMade++;  
                }
            }
            Console.WriteLine("data = " + JsonSerializer.Serialize(newObject)); 
            return newObject; 
        }
        // arrays 
        if (json is JsonArray jsonArray) {
            JsonArray newArray = new JsonArray(); 
            foreach(var item in jsonArray) {
                JsonNode? result = RemoveEmptyKeys(item); 
                if (result != null) {
                        // add entry 
                        newArray.Add(result); 
                    
                } else { // when no copy is made, changesMade++ 
                    changesMade++;   
                }
            }
        return newArray;  
        }
        // primitives
        if (json is JsonValue jsonValue) {
            @* // TODO
                // clean it up optionall (cleaner function)
                f.e. :
                trim whitespace
                remove empty strings
                normalize numbers
                remove empty arrays/objects 
            *@
            if (jsonValue.GetValueKind() == JsonValueKind.Null){
                return null; 
            }
             
            // clone : otherwise error - ThrowInvalidOperationException_NodeAlreadyHasParent() 
            // = parent = json (the original file)
           return jsonValue.DeepClone(); 
            
        }
        return null; 
    } 


    @* Fill missing keys in arrays of objects
        using union of sibling keys *@
    private JsonNode? FillMissingKeys(JsonNode json){
        // collect all keys from sibling objects
        HashSet<string> keys = new HashSet<string>{}; 

        if (json is JsonArray jsonArray) {
            // if (jsonArray == null) return jsonArray; 
            JsonArray newArray = new JsonArray(); 

            foreach(var arrayItem in jsonArray){
                if (arrayItem is JsonObject jsonObject){
                    foreach (var objectItem in jsonObject) {
                        keys.Add(objectItem.Key); 
                    }
                }
            }
        Console.WriteLine(); 
        foreach (var key in keys) {
            Console.WriteLine("hashSet key: " + key); 
        }
        Console.WriteLine(); 

        // rebuild every object ensuring every key exists 
        // arrayItem = the object 
        foreach (var arrayItem in jsonArray) {
            // is it an array of objects? it could be null, so: 
            if (arrayItem is not JsonObject) {
               errorMessage = "Invalid input. Please use an array of objects!"; 
                return null; 
            }
                // else, copy to a new object to add to jsonArray later: 
                JsonObject newObject = new JsonObject(); 

                // for each known key: 
                foreach (var key in keys){
                    // does the object contain the key? 
                    if (arrayItem is JsonObject obj && obj.ContainsKey(key)){
                        // object contains key 
                        if (arrayItem.GetValueKind() == JsonValueKind.Null) { // object could be null 
                            Console.WriteLine("null value insie the object"); 
                            newObject[key] = null; // otherwise, i would DeepClone null later
                        } else if (obj[key] == null) { // value could be null 
                            newObject[key] = null; // otherwise, i might still DeepClone null later (?)
                        } else {
                            newObject[key] = obj[key]!.DeepClone(); // arrayItem is the original object
                        }

                    } else {
                        newObject[key] = null; 
                        changesMade++; 
                    }
                }
                newArray.Add(newObject); 
            }

            return newArray;  
        }
        return json; 
    }


    private bool isEmptyValue(JsonNode node) {
        if (node == null) return true; 
        if (node is JsonValue jsonValue) {
            return jsonValue.GetValueKind() == JsonValueKind.Null; 
        }
        return false; 
    }

    private async Task WriteToLocalStorage(List<SavedJson> savedJsons) {
        // make string: 
        string storageJson = JsonSerializer.Serialize(savedJsons); 
        // save
        await JS.InvokeVoidAsync(
            "localStorage.setItem", "savedJsons", storageJson
        ); 
    }

    private async Task ProvideJsonOutput(JsonNode? result) {
        if (jsonInput == null) return; // or return null; if type -> JsonNode? 

        // serialization  data → text 
        // JsonSerializer.Serialize(...) 
        // without indentation in the console
        Console.WriteLine(System.Text.Json.JsonSerializer.Serialize(result)); 
        // prettier output with Option WriteIndented = true 
        serializedJson = JsonSerializer.Serialize(
            result, new JsonSerializerOptions
            { 
                WriteIndented = true 
            });

        if (savedJsons == null) {
            errorMessage = "Null Reference writing Json to Output (savedJsons)";
            return;
        }
        savedJsons.Add(new SavedJson {
            Json = serializedJson, CreatedAt = DateTime.Now, Changes = changesMade
        });
        await WriteToLocalStorage(savedJsons); 
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            string? json = await JS.InvokeAsync<string?>("localStorage.getItem", "savedJsons"); 
                // can be null too <string?>
            if (string.IsNullOrWhiteSpace(json)) {
                // don't do this 
                Console.WriteLine(); 
                Console.WriteLine("empty stoarage"); 
                Console.WriteLine(); 
                return; 
            }
            savedJsons = JsonSerializer.Deserialize<List<SavedJson>>(json) ?? []; 
        }
        StateHasChanged(); 
    }

}

