@page "/add-json"
@rendermode InteractiveServer 
@using System.Text.Json 
@using System.Threading.Tasks
@using System.Security.Cryptography 
@using System.Text.Json.Nodes
@using System.Text.Json.Serialization
@using Microsoft.AspNetCore.Http.HttpResults
@using Microsoft.AspNetCore.Razor.TagHelpers
@using System.Runtime.InteropServices.ObjectiveC
@using CleanJsonApp.Models
@using Microsoft.Extensions.Logging.Abstractions
@inject IJSRuntime JS 

@* InteractiveServer is to make buttons work, @onclick works, @bind updates values, and C# methods run when the user interacts. *@

<PageTitle>Add</PageTitle>

<h1>Add JSON</h1> 
<section class="input-section">
    <h2>Input</h2>

    <p>@errorMessage</p>

    <p>This small cleaner app analyzes your JSON data and lets you either fill in missing keys or remove empty ones.</p> 
    <p>Fill missing keys works in arrays of objects in this version of the app.</p>


        <label for="user-input">Paste your JSON</label> <br />
        <textarea @bind="jsonInput" name="user-input" id="user-input" rows="8"></textarea> <br />

        <div class="controls">
             @* RemoveEmptyStrings and so on will get RADIO BUTTONS here. can be added in addition to the select options *@ 
             // currently hard coded... 
             // later add like this and add to list: cleanActions 
            @* <label for="empty-strings">Remove Empty Strings</label>
            <input name="empty-strings" id="empty-strings" value="@CleanAction.RemoveEmptyStrings" type="radio"> <br /> *@
            @*  STRUCTURE: 
                mutually exclusive mutations: 
                MODE (exclusive)
                - FillMissingKeys
                - RemoveEmptyKeys
                - None
                
                not mutually exclusive (add radio buttons for these)
                CLEANERS (composable)
                - RemoveEmptyStrings
                - TrimWhitespace
                - RemoveEmptyArrays 
                - and so on..
                *@
            @* the below options are mutually exclusive: *@
            <label for="object-keys">Select whether to remove or add empty keys in objects:</label>
            <select @bind="actionChoice" name="object-keys" id="object-keys">
                <option value="@KeyActionOption.None">None</option>
                <option value="@KeyActionOption.RemoveEmptyKeys">Remove empty keys</option>
                <option value="@KeyActionOption.FillMissingKeys">Fill in missing keys</option>
            </select>

        <button class="btn btn-secondary"  @onclick="FetchInput">Upload</button>
    </div>
</section>

<h2>Debugging</h2>
<p>Debug jsonInput: @jsonInput @actionChoice</p><br /><p>@debugging</p><br /> 
<hr>

<section class="output-section">
    <h2>Output</h2>
    <p>Changes made: @changesMade</p> 
    <hr> 
    <pre>@serializedJson</pre>  
    <hr>
</section>

@code {
    private string jsonInput = ""; 
    private KeyActionOption actionChoice = KeyActionOption.None; 
    @* private bool removeEmptyStrings = true;  *@
    private int changesMade { get; set; } = 0; 
    private string errorMessage { get; set; }  = ""; 
    private JsonNode? parsedJson { get; set; } = new JsonObject();   
    private JsonNode? result { get; set; } = new JsonObject(); 
    private string serializedJson { get; set; }  = ""; 
    private List <SavedJson>? savedJsons; 
    private enum KeyActionOption 
    {
        None, 
        RemoveEmptyKeys,
        FillMissingKeys
    }
    private enum CleanAction
    {
        RemoveEmptyStrings,
        RemoveEmptyArrays,  
        TrimWhitespace,  
        RemoveZeroValues, 
        RemoveTrailingZero
   
    }
    private class TraverseResult // for use in func TraverseTree (todo)
    {
        public bool Remove { get; set; } 
        public JsonNode? Value { get; set; }
    }
    private List<CleanAction>? cleanActions { get; set; } 
    @* private List<CleanAction>? cleanActions { get; set; } = new List<CleanAction>();  *@
    private string debugging = ""; 


    // fetch the string provided by the user, sanitiy check it and deserialize 
    private async Task FetchInput(){
        Console.WriteLine("-----------------------------------------------"); 
        Console.WriteLine("start"); 
        Console.WriteLine("-----------------------------------------------"); 
        changesMade = 0; // reset counter for each turn 
        // sanity check: only use valid json. 
        // deserialization and exceptions
        try {
            if (jsonInput == "") return; 
            parsedJson = JsonNode.Parse(jsonInput); 
            @* Console.WriteLine("josn: " + deserializedJson); *@
            errorMessage = "";
        } catch (JsonException) {
            Console.WriteLine("Invalid JSON syntax. Please check your input.");
            errorMessage = "Invalid JSON syntax. Please check your input.";
            return; 
        }
        // process it depending on user input: 
        result = parsedJson != null ? ProcessJson(parsedJson) : new JsonObject(); 
        @* await Task.Delay(millisecondsDelay: 500); *@
        // serialize and output 
        await ProvideJsonOutput(result); 
    } 

        @* @ProcessJson:
        Currently calls 3 functions: 
        calls RemoveEmptyKeys (old recursive function).
        OR FillMissingKeys (mutually exclusive)
        then calls: 
        calls TraverseTree and this calls CleanJson (performs other cleaning)
        
        TraverseTree:
        - walk structure
        - rebuild structure
        - propagate removal decisions upward

       CleanJson:
        - decide whether primitive node survives 
        -----------------------------------------
        mutually exclusive: 
        MODE (exclusive)
        - FillMissingKeys
        - RemoveEmptyKeys
        - None
        
        can be compound: (add radio buttons)
        CLEANERS (composable)
        - RemoveEmptyStrings
        - TrimWhitespace
        - RemoveEmptyArrays
        - etc
        *@
    private JsonNode? ProcessJson(JsonNode? json){
        // for testing, set cleanActions to a given value: 
        cleanActions = new List<CleanAction>();
        cleanActions.Add(CleanAction.TrimWhitespace); 
        cleanActions.Add(CleanAction.RemoveEmptyStrings);
        cleanActions.Add(CleanAction.RemoveEmptyArrays); 
        @* TrimWhitespace needs to come first, because it could create "" eligible for RemoveEmptyStrings *@
        Console.WriteLine("json input: " + JsonSerializer.Serialize(json));
        @* Console.WriteLine(System.Text.Json.JsonSerializer.Serialize(json));  *@
        Console.WriteLine(); 

        if (json == null) return new JsonObject(); 
        if (cleanActions != null && cleanActions.Count> 0) {
            @* debugging = "inside TraverseTree loop"; *@
            Console.WriteLine("Calling TraverseTree()");
            TraverseResult? traversed = TraverseTree(json!, cleanActions); 
            if (traversed != null) json = traversed.Value; 
            else Console.WriteLine("Error - TraverseTree returned Null in ProcessJson!");
        } 
        @* these should come at the end (especially FillMissingKeys for removed ""...) *@
        if (actionChoice == KeyActionOption.RemoveEmptyKeys) { 
            Console.WriteLine("Calling RemoveEmptyKeys()");
            json = RemoveEmptyKeys(json);  
        } 
        if (actionChoice == KeyActionOption.FillMissingKeys) {
            Console.WriteLine("Calling FillMissingKeys()");
            json = FillMissingKeys(json!); // ! = null-forgiving operator 
        } 
        
        @* if (removeEmptyStrings){
            json = RemoveEmptyStrings(json); 
        } *@

        return json; 
    } 

    private TraverseResult? CleanJson(JsonNode json, List<CleanAction>? cleanActions) 
        { 
        if (cleanActions == null || cleanActions!.Count == 0) return new TraverseResult{ Remove = false, Value = json }; 

        JsonNode? current = json.DeepClone(); 
        bool remove = false; 

        foreach (CleanAction c in cleanActions) {
            // if already removed, stop processing: 
            if (remove || current == null) {
                break; 
            }

            switch (c) 
            {
                case CleanAction.TrimWhitespace: 
                Console.WriteLine("Trim Whitespace selected"); 
                
                if (current is JsonValue trimValue && trimValue.GetValueKind() == JsonValueKind.String)
                {
                    string original = trimValue.GetValue<string>(); 
                    string trimmed = original.Trim(); 

                    if (original != trimmed)
                    {
                        changesMade++; 

                        current = JsonValue.Create(trimmed); 
                    }
                }
                break; 
                @* if (json is not JsonValue jsonValue1) break; 
                if (jsonValue1.GetValueKind() == JsonValueKind.Null) break; 
                if (jsonValue1.GetValueKind() == JsonValueKind.String) {
                    string str = jsonValue1.GetValue<string>(); 
                    string trimmed = str.Trim(); 
                    if (trimmed.Length != str.Length) {
                        changesMade++; 
                    }
                    // return false in case the string still contains chars, since the string will not be removed: 
                    return new TraverseResult
                    {
                        Remove = false, Value = JsonValue.Create(trimmed) 
                    };
                } 
                break; *@
                case CleanAction.RemoveEmptyStrings: 
                Console.WriteLine("Removing empty strings"); 

                if (current is JsonValue stringValue && stringValue.GetValueKind() == JsonValueKind.String)
                {
                    string str = stringValue.GetValue<string>(); 
                    
                    if (str == "") 
                    {
                        //changesMade++; // later 
                        
                        remove = true; 
                        current = null; 
                    }
                }
                break; 
                
                @* I don't RemoveEmptyArrays here anymore, since this is a structural one, 
                and CleanJson is more for primitive types (JsonValues) *@

                case CleanAction.RemoveZeroValues: 
                Console.WriteLine("Removing Zero Values"); 
                // TO DO later
                break; 
                default: 
                Console.WriteLine("No valid CleanAction."); 
                break; 
            } 
        }
        
        return new TraverseResult{ Remove = remove, Value = current }; 
    }

    // -----------------------------------------------------------
    // custom return type: Traverse result: 
    // bool: remove yes /no 
    // JsonNode ... the json that got expected. 
    // -----------------------------------------------------------
    // ->(bool Remove, JsonNode? Value)
    private TraverseResult? TraverseTree(JsonNode? json, List<CleanAction>? cleanActions) {
        @* if (json == null) return null;  *@
        Console.WriteLine("------- Traverse Tree Start --------"); 

        if (json is JsonObject jsonObject) {
            @* debugging = "jsonObject reached"; *@
            JsonObject newobject = new JsonObject(); 
            foreach (var item in jsonObject){
                TraverseResult? result = TraverseTree(item.Value, cleanActions); 
                if (result!.Remove) { 
                    changesMade++; 
                    continue; 
                }
                @* //otherwise: 
                TraverseResult? cleanedResult = CleanJson(result!.Value!, cleanActions); 
                if (cleanedResult == null)
                {
                    Console.WriteLine("Error! Null cleanedResult == null"); 
                }
                if (cleanedResult!.Remove) { 
                    changesMade++; // here or in CleanJson? 
                    continue; 
                } // else:   *@
                // else: 
                // for null values: 
                if (result.Value == null) newobject[item.Key] = null; 
                // for none null values: 
                else newobject[item.Key] = result!.Value!.DeepClone(); // node already has a parent, might be a problem here
            }
            Console.WriteLine("returning jsonArray + ", JsonSerializer.Serialize(newobject) );
            return new TraverseResult
            {
                Remove = false, Value = newobject
            };
        }
        if (json is JsonArray jsonArray) {
            Console.WriteLine("jsonArray reached");  
            JsonArray newArray = new JsonArray(); 
            
            foreach (var item in jsonArray){
                TraverseResult? result = TraverseTree(item, cleanActions); 
                if (result!.Remove) {
                    changesMade++; 
                    continue; 
                } 
                
                // else continue cleaning node: 
                @* TraverseResult? cleanedResult = CleanJson(result!.Value!, cleanActions); 
                if (cleanedResult == null)
                {
                    Console.WriteLine("Error! Null cleanedResult == null"); 
                }
                if (cleanedResult!.Remove) { 
                    changesMade++; // here or in CleanJson? 
                    continue; 
                } // else:  // else add child:  *@

                newArray.Add(result.Value?.DeepClone()); // cleanedResult.Value can be null 
                // ? null conditional operator ~ similar to JS optional chaining  
                // JS = undefined but C# = null
            }
            Console.WriteLine("returning jsonArray + ", JsonSerializer.Serialize(newArray) );
            return new TraverseResult
            {
                Remove = false, Value = newArray
            }; 
        }
        if (json is JsonValue jsonValue) {
            Console.WriteLine("jsonValue reached."); 
            TraverseResult? cleanedResult = CleanJson(jsonValue, cleanActions); 
            if (cleanedResult == null) 
            { // should later become if (result.Remove) to-do
                Console.WriteLine("Error! Null cleanedResult == null"); 
            } // else 
            return cleanedResult; 
        }
        @* debugging = "hello";  *@
        @* debugging = "inside TraverseTree function"; *@
        return new TraverseResult
        {
            Remove = false, Value = null // test if i initially wanted Remove = true here 
        }; 
    }

    
    @* takes a JsonElement and creates a new element without null values. 
    returns a new JsonElement with the newly assembled data. *@
    // C# example: if (json is JsonArray jsonArray)
    // = pattern matching with type checking and variable declaration
    //Check the type of node (is it a JsonArray?).
    //Declare a new variable (jsonArray) of that type, casted from json.
    @* 
    examins objects, arrays and primitive values 
    
    Parent calls recursion on child, child returns value or null: 
    Now the parent decides:
    child returned data → keep it
    child returned null → omit it 
    ...
    traversing old structure
    building a new cleaned structure
    selectively copying survivors *@
    private JsonNode? RemoveEmptyKeys(JsonNode? json) {
        // examin objects, arrays and primitive values
        if (json == null) {
            return null; // don't continue if it's null 
            // this does not count for recursion (no ommitted line)
        } 
        // objects 
        if (json is JsonObject jsonObject) {
            JsonObject newObject = new JsonObject();
            foreach (var item in jsonObject){
                //Console.WriteLine(item.Key); 
                // copy the values if they are not null
                // Parente: I chose not to copy this property.
                JsonNode? result = RemoveEmptyKeys(item.Value); 
                if  (result != null) {  // recursion : did the value return null? 
                    newObject[item.Key] = result;
                } else {
                    // when no copy is made, changesMade++ 
                    changesMade++;  
                }
            }
            Console.WriteLine("data = " + JsonSerializer.Serialize(newObject)); 
            return newObject; 
        }
        // arrays 
        if (json is JsonArray jsonArray) {
            JsonArray newArray = new JsonArray(); 
            foreach(var item in jsonArray) {
                JsonNode? result = RemoveEmptyKeys(item); 
                if (result != null) {
                        // add entry 
                        newArray.Add(result); 
                    
                } else { // when no copy is made, changesMade++ 
                    changesMade++;   
                }
            }
        return newArray;  
        }
        // primitives
        if (json is JsonValue jsonValue) {
            @* // TODO
                // clean it up optionall (cleaner function)
                f.e. :
                trim whitespace
                remove empty strings
                normalize numbers
                remove empty arrays/objects 
            *@
            if (jsonValue.GetValueKind() == JsonValueKind.Null){
                return null; 
            }
             
            // clone : otherwise error - ThrowInvalidOperationException_NodeAlreadyHasParent() 
            // = parent = json (the original file)
           return jsonValue.DeepClone(); 
            
        }
        return null; 
    } 


    @* Fill missing keys in arrays of objects
        using union of sibling keys *@
    private JsonNode? FillMissingKeys(JsonNode json){
        @* Console.WriteLine("inside FillMissingKeys:");  *@
        // collect all keys from sibling objects
        HashSet<string> keys = new HashSet<string>{}; 

        if (json is JsonArray jsonArray) {
            @* Console.WriteLine("json is JsonArray");  *@
            // if (jsonArray == null) return jsonArray; 
            JsonArray newArray = new JsonArray(); 

            foreach(var arrayItem in jsonArray){
                if (arrayItem is JsonObject jsonObject){
                    @* Console.WriteLine("arrayItem is JsonObject");  *@
                    foreach (var objectItem in jsonObject) {
                        keys.Add(objectItem.Key); 
                    }
                }
            }
        Console.WriteLine(); 
        if (keys.Count == 0) {
            Console.WriteLine("no keys collected. stopping exectuion of FillMissingKeys");
            return json;  
        } 
        foreach (var key in keys) {
            Console.WriteLine("hashSet key: " + key); 
        }
        Console.WriteLine(); 

        // rebuild every object ensuring every key exists 
        // arrayItem = the object 
        foreach (var arrayItem in jsonArray) {
            // is it an array of objects? it could be null, so: 
            if (arrayItem is not JsonObject) {
               errorMessage = "Invalid input. Please use an array of objects!"; 
                return null; 
            }
                // else, copy to a new object to add to jsonArray later: 
                JsonObject newObject = new JsonObject(); 

                // for each known key: 
                foreach (var key in keys){
                    // does the object contain the key? 
                    if (arrayItem is JsonObject obj && obj.ContainsKey(key)){
                        // object contains key 
                        if (arrayItem.GetValueKind() == JsonValueKind.Null) { // object could be null 
                            Console.WriteLine("null value insie the object"); 
                            newObject[key] = null; // otherwise, i would DeepClone null later
                        } else if (obj[key] == null) { // value could be null 
                            newObject[key] = null; // otherwise, i might still DeepClone null later (?)
                        } else {
                            newObject[key] = obj[key]!.DeepClone(); // arrayItem is the original object
                        }

                    } else {
                        newObject[key] = null; 
                        changesMade++; 
                    }
                }
                newArray.Add(newObject); 
            }

            return newArray;  
        }
        return json; 
    }


    private bool isEmptyValue(JsonNode node) {
        if (node == null) return true; 
        if (node is JsonValue jsonValue) {
            return jsonValue.GetValueKind() == JsonValueKind.Null; 
        }
        return false; 
    }

    private async Task WriteToLocalStorage(List<SavedJson> savedJsons) {
        // make string: 
        string storageJson = JsonSerializer.Serialize(savedJsons); 
        // save
        await JS.InvokeVoidAsync(
            "localStorage.setItem", "savedJsons", storageJson
        ); 
    }

    private async Task ProvideJsonOutput(JsonNode? result) {
        if (jsonInput == null) return; // or return null; if type -> JsonNode? 

        // serialization  data → text 
        // JsonSerializer.Serialize(...) 
        // without indentation in the console
        Console.WriteLine(System.Text.Json.JsonSerializer.Serialize(result)); 
        // prettier output with Option WriteIndented = true 
        serializedJson = JsonSerializer.Serialize(
            result, new JsonSerializerOptions
            { 
                WriteIndented = true 
            });

        if (savedJsons == null) {
            errorMessage = "Null Reference writing Json to Output (savedJsons)";
            return;
        }
        savedJsons.Add(new SavedJson {
            Json = serializedJson, CreatedAt = DateTime.Now, Changes = changesMade
        });
        await WriteToLocalStorage(savedJsons); 
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            string? json = await JS.InvokeAsync<string?>("localStorage.getItem", "savedJsons"); 
                // can be null too <string?>
            if (string.IsNullOrWhiteSpace(json)) {
                // don't do this 
                Console.WriteLine(); 
                Console.WriteLine("empty stoarage"); 
                Console.WriteLine(); 
                return; 
            }
            savedJsons = JsonSerializer.Deserialize<List<SavedJson>>(json) ?? []; 
        }
        StateHasChanged(); 
    }

}

