@page "/add-json"
@rendermode InteractiveServer 
@using System.Text.Json 
@using System.Threading.Tasks
@using System.Security.Cryptography 
@using System.Text.Json.Nodes
@using System.Text.Json.Serialization
@using Microsoft.AspNetCore.Http.HttpResults
@using Microsoft.AspNetCore.Razor.TagHelpers
@using System.Runtime.InteropServices.ObjectiveC
@using CleanJsonApp.Models
@using Microsoft.Extensions.Logging.Abstractions
@using CleanJsonApp.Services 
@inject IJSRuntime JS 

@* InteractiveServer is to make buttons work, @onclick works, @bind updates values, and C# methods run when the user interacts. *@

<PageTitle>Add</PageTitle>

<h1>Add JSON</h1> 
<section class="input-section">
    <h2>Input</h2>

    <p>@errorMessage</p>

    <p>This small cleaner app analyzes your JSON data and lets you either fill in missing keys or remove empty ones.</p> 
    <p>Fill missing keys works in arrays of objects in this version of the app.</p>


        <label for="user-input">Paste your JSON</label> <br />
        <textarea @bind="jsonInput" name="user-input" id="user-input" rows="8"></textarea> <br />

        <div class="controls">
            <label for="trim-whitespace">Trim Whitespace</label>
        <input
            id="trim-whitespace"
            type="checkbox"
            @bind="trimWhitespace" />

        <label for="remove-empty-strings">Remove Empty Strings</label>
        <input
            id="remove-empty-strings"
            type="checkbox"
            @bind="removeEmptyStrings" /> <br />

            @*  STRUCTURE: 
                mutually exclusive mutations: 
                MODE (exclusive)
                - FillMissingKeys
                - RemoveEmptyKeys
                - None
                
                not mutually exclusive (add checkboxes for these)
                CLEANERS (composable)
                - RemoveEmptyStrings
                - TrimWhitespace
                - and so on..
                
                structural (RemoveEmptyObjects, RemoveEmptyArrays) : not currently featured 
                *@
            @* the below options are mutually exclusive: *@
            <label for="object-keys">Select whether to remove or add empty keys in objects:</label>
            <select @bind="actionChoice" name="object-keys" id="object-keys">
                <option value="@JsonProcessor.KeyActionOption.None">None</option>
                <option value="@JsonProcessor.KeyActionOption.RemoveEmptyKeys">Remove empty keys</option>
                <option value="@JsonProcessor.KeyActionOption.FillMissingKeys">Fill in missing keys</option>
            </select>

        <button class="btn btn-secondary"  @onclick="FetchInput">Upload</button>
    </div>
</section>
@* 
<h2>Debugging</h2>
<p>Debug jsonInput: @jsonInput @actionChoice</p><br /><p>@debugging</p><br /> 
<hr> 
*@

<section class="output-section">
    <h2>Output</h2>
    <p>Changes made: @processor.ChangesMade</p> 
    <hr> 
    <pre>@serializedJson</pre>  
    <hr>
</section>

@code {
    private string jsonInput = ""; 
    private JsonProcessor.KeyActionOption actionChoice = JsonProcessor.KeyActionOption.None; 
    @* private int changesMade { get; set; } = 0;  *@
    private string errorMessage { get; set; }  = ""; 
    private JsonNode? parsedJson { get; set; } = new JsonObject();   
    private JsonNode? result { get; set; } = new JsonObject(); 
    private string serializedJson { get; set; }  = ""; 
    private List <SavedJson>? savedJsons; 
    private bool trimWhitespace = true;
    private bool removeEmptyStrings = true;
    private List<JsonProcessor.CleanAction>? cleanActions { get; set; } 
    private JsonProcessor processor = new();
   

    @* private string debugging = "";  *@


    // fetch the string provided by the user, sanitiy check it and deserialize 
    private async Task FetchInput(){
        Console.WriteLine("-----------------------------------------------"); 
        Console.WriteLine("start"); 
        Console.WriteLine("-----------------------------------------------"); 


        // populate cleanActions 
        cleanActions = new List<JsonProcessor.CleanAction>(); 
        if (trimWhitespace)
        {
            cleanActions.Add(JsonProcessor.CleanAction.TrimWhitespace);
        }
        if (removeEmptyStrings)
        {
            cleanActions.Add(JsonProcessor.CleanAction.RemoveEmptyStrings);
        }
        // sanity check: only use valid json. 
        // deserialization and exceptions
        try {
            if (jsonInput == "") return; 
            parsedJson = JsonNode.Parse(jsonInput); 
            @* Console.WriteLine("josn: " + deserializedJson); *@
            errorMessage = "";
        } catch (JsonException) {
            Console.WriteLine("Invalid JSON syntax. Please check your input.");
            errorMessage = "Invalid JSON syntax. Please check your input.";
            return; 
        }
        // process it depending on user input: 
        result = parsedJson != null ? processor.ProcessJson(parsedJson, actionChoice, cleanActions) : new JsonObject(); 
        // get error messages from the processor. 
        errorMessage = processor.ErrorMessage; 
       
        // serialize and output  
        await ProvideJsonOutput(result); 


    } 





    private bool isEmptyValue(JsonNode node) {
        if (node == null) return true; 
        if (node is JsonValue jsonValue) {
            return jsonValue.GetValueKind() == JsonValueKind.Null; 
        }
        return false; 
    }

    private async Task WriteToLocalStorage(List<SavedJson> savedJsons) {
        // make string: 
        string storageJson = JsonSerializer.Serialize(savedJsons); 
        // save
        await JS.InvokeVoidAsync(
            "localStorage.setItem", "savedJsons", storageJson
        ); 
    }

    private async Task ProvideJsonOutput(JsonNode? result) {
        if (jsonInput == null) return; // or return null; if type -> JsonNode? 

        // serialization  data → text 
        // JsonSerializer.Serialize(...) 
        // without indentation in the console
        Console.WriteLine(System.Text.Json.JsonSerializer.Serialize(result)); 
        // prettier output with Option WriteIndented = true 
        serializedJson = JsonSerializer.Serialize(
            result, new JsonSerializerOptions
            { 
                WriteIndented = true 
            });

        if (savedJsons == null) {
            errorMessage = "Null Reference writing Json to Output (savedJsons)";
            return;
        }
        savedJsons.Add(new SavedJson {
            Json = serializedJson, CreatedAt = DateTime.Now, Changes = processor.ChangesMade
        });
        await WriteToLocalStorage(savedJsons); 
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            string? json = await JS.InvokeAsync<string?>("localStorage.getItem", "savedJsons"); 
                // can be null too <string?>
            if (string.IsNullOrWhiteSpace(json)) {
                Console.WriteLine("empty stoarage"); 
                savedJsons = new List<SavedJson>(); 
                return; 
            }
            savedJsons = JsonSerializer.Deserialize<List<SavedJson>>(json) ?? []; 
        }
        StateHasChanged(); 
    }
}

